.product_design_page {
    height: 310vh;
    display: flex;
    flex-direction: column;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: visible;
}
/* 
.navigation {
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    z-index: 100;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    align-self: flex-start;
}

.navigation_link {
    text-decoration: none;
}

.navigation h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 0.5;
    letter-spacing: 0.01rem;
    color: #0F0F0F;
}

.navigation h3:hover{
    font-weight: 600;
    line-height: 0.5;
    letter-spacing: normal;
}

.navigation h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0%;
    background: #0F0F0F;
    letter-spacing: normal;
    transition: width 0.5s ease;
}
  
.navigation h3.active {
    color: #0F0F0F;
    font-weight: 600;
    letter-spacing: normal;
} */

.content {
    width: 80vw;
    margin-right: 10vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.tabs {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.tabs button {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    letter-spacing: 0.03rem;
    background: none;
    border: none;
    padding-bottom: 0.5rem;
    color: #494949;
    transition: color 0.3s ease;
}

.tabs button:hover {
    color: #0F0F0F;
    font-weight: 600;
    letter-spacing: normal;
}
  
.tabs button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0%;
    background: #0F0F0F;
    transition: width 0.5s ease;
}
  
.tabs button.active {
    color: #0F0F0F;
    font-weight: 600;
    letter-spacing: normal;
}
  
.tabs button.active::after {
    width: 100%;
}

.tab_content h2 {
    font-size: 96px;
    text-align: left;
    margin: 0px;
    width: 800px;
    line-height: 1.2;
}

.tab_content p {
    font-size: 20px;
    text-align: left;
    line-height: 1.8;
    width: 700px;
}

.tab_content span {
    background-color: #0000EE;
    color: #F8F8F8;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

hr {
    margin-top: 3rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #acacac;
}

.bullet_points {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 16px;
    color: #0F0F0F;
}
  
.bullet_points li::after {
    content: '·';
    margin-left: 1rem;
}
  
.bullet_points li:last-child::after {
    content: '';
}

.projects_list {
    margin-top: 3rem;
    width: 900px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.8s ease;
}

.image_wrapper {
    overflow: hidden;
    border-radius: 8px;
}

.project:hover img {
    transform: scale(1.1);
}

.project h4 {
    font-size: 18px;
    text-align: left;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
}

.project_details {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: #0F0F0F;
}
  
.project_details li::after {
    content: '·';
    margin-left: 1rem;
}
  
.project_details li:last-child::after {
    content: '';
}

.button_all_projects { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    font-size: 18px;
    padding: 14px 12px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: #F8F8F8;
    border-style: solid;
    border-color: #919191;
    border-width: 1px;
    border-radius: 4px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.button_all_projects:hover { 
    background-color: #efefef;
    border-color: #efefef;
}