.product_design_about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.content {
    width: 80vw;
    margin-right: 10vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
}