.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 92vh;
    width: 100vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #0F0F0F;
    background-image: radial-gradient(#E1E1E1 1px, transparent 1px);
    background-size: 24px 24px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10vw;
    margin-right: 10vw;
}
  
.option h2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #0F0F0F;
    font-size: 80px;
    margin: 0;
    line-height: 150%;
}
  
.option h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 0;
    height: 6px;
    background-color: #0f0f0f;
    transition: width 0.5s ease-in-out;
}
  
.option h2:hover::after {
    width: 100%;
}

.image-gallery {
    position: fixed;
    right: 350px;
    top: 100px;
    width: 400px;
    height: 400px;
    pointer-events: none;
}
  
.popup-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.4s ease-out, opacity 0.1s ease-out;
    z-index: 10;
}
  
.popup-image.show {
    opacity: 1;
    transform: scale(1);
}
  
.faded {
    opacity: 0.15;
    transition: opacity 0.3s ease-in-out;
}
  
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}
  
  
/* MEDIA QUERIES FOR RESPONSIVENESS */
  
/* Tablets and Large Phones */
@media (max-width: 820px) {
    .header {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  
    .footer {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  
    .option {
      margin-left: 5vw;
      margin-right: 5vw;
    }
  
    .option h2 {
      font-size: 72px;
    }
}
  
/* Phones */
@media (max-width: 480px) {
    .header {
      padding-top: 1vh;
    }
  
    .footer {
      justify-content:center;
      padding-bottom: 1vh;
    }
  
    .option h2 {
      font-size: 40px;
      line-height: 175%;
    }
}
  
/* Small Phones */
@media (max-width: 375px) {
  
}
  