.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0F0F0F;
  background-image: radial-gradient(#E1E1E1 1px, transparent 1px);
  background-size: 24px 24px;
}