.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #0F0F0F;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  font-size: 22px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10vw;
  margin-right: 10vw;
}

.option h2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.option h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 0;
  height: 6px;
  background-color: #0f0f0f;
  transition: width 0.5s ease-in-out;
}

.option h2:hover::after {
  width: 100%;
}

h2 {
  font-size: 80px;
  margin: 0;
  line-height: 150%;
}

.image-gallery {
  position: fixed;
  right: 300px;
  top: 200px;
  width: 400px;
  height: 400px;
  pointer-events: none;
}

.popup-image {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
  z-index: 10;
}

.popup-image:hover {
  transform: scale(1.1);
}

.faded {
  opacity: 0.25;
  transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 16px;
}
